* {
    box-sizing: border-box;
    padding-top: 5px;
    margin: 0;
}

body {
    /* background-color: black; */
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    height: 100%;
    width: 100%;
    font-family: 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', serif;
}

/* General elements */

img {
    border-radius: 10px;
}


h1 {
    font-size: 35vh;
    letter-spacing: -.06em;
}


h2 {
    float: right;
    font-size:8vh;
    color: #d4877a;
    text-align: left;
}

h3 {
    font-size: 5vh;
    color: #d4877a;
}

a {
    color: #a5b0dd;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    text-decoration: none;
  }
  
p {
    font-size: 3.5vh;
    color: #c2b1b6;
    margin: 20px;
    align-self: center;
}

li {
    list-style-type: none;
}

ul {
    text-decoration: none;
}

.nav-item {
    /* background-color: black; */
    color: black;
    font-size: 6vh;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.nav-item a{
    color: black;
}

.nav-item a:hover {
    color: white
}

.nav-item a:active{
    color: white;
}

.nav-item:focus {
    color: #d4877a;
}

.col-sm-12 {
    text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100vw;
}

/* header div styling */

.header {
    margin: 30px;
    padding: 20px;
    /* background-color: black; */
    color: #c2b1b6;
    clear: both;
    justify-content: space-between;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

#subheading {
    margin: -25px;
}

/* Navbar and contact footer styling */

.nav {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
    background-color: #a5b0dd;
    opacity: 65%;
    padding: 20px;
    margin: 20px;
}


/* About Me styling */

#headshot {
    /* margin: 10px; */
    max-height: 500px;
    border-radius: 10px;
    filter: brightness(75%);
}

#headshot-col {
    display: flex;
    justify-content: center;
}

#about {
    
    margin:40px;
    min-height: 400px;
    align-items: center
}


/* Portfolio styling */

#portfolio {  
    margin: 20px;
    padding: 20px;
    /* background-color: black; */
    color: #d4877a;
    align-items: center;
    justify-content: space-between;
}

.card {
    margin-top: 50px;
}

.card-title {
    justify-content: center;
    text-align: center;
    font-size: 5vh;
}

.card-text {
    margin: 5px;
    font-size: 3.5vh;
    text-align: center;
    color: antiquewhite;
}

.card-text a {
    color: #c2b1b6;
}

.card-text a:hover {
    color:#d4877a;
}

.card-body {
    display: flex;
    justify-content: center;
}

/* .card-body img {
    min-height: 200px;
    max-height: 200px;
} */



#portfolio-items {
    display: flex;
    justify-content: center;
}







/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }








.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .container:hover .overlay {
    opacity: .8;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .contact-icon{
      color: black;
      font-size: 10vh;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  
  .play-icon {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .repo-icon {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .used-tech{
      color: black;
      font-size: 10pt;
      position: absolute;
      left: 50%;
      top: 85%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }

  .repo-icon-no-deploy{
    color: black;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .fa-play-circle:hover {
    color: darkslateblue;
  }

  .fa-folder-open:hover {
    color: darkslateblue;
  }

 




  .form {
    margin: 20px;
    width: 50%
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

.submit-button {
    background-color: #d4877a;
    font-size: 3vh;
}

.container-fluid {
    margin-bottom: 50px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 50px;
  }


.skill-icon {
    color: #faebd7;
    font-size: 8vh;
    margin: 10px;
}


/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}



.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100vw;
  height:100vh;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}


        
      


.svg-icon {
    /* Place the icon on the text baseline. */
    position: relative;
    top: -.9em;

    /* Prevent the icon from shrinking inside a flex container. */
    flex-shrink: 0;

    /* Scale the icon to match the font-size of the parent element. */
    height: 8vh;
    width: 8vh;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -18px;

    /* Let the icon take whatever color the parent has. */
    fill: currentColor;

    /*
     * If the icon is used on a link, which has a color transition,
     * we can also use a transition on the fill value.
    */
   transition: fill .3s;
}

.resume-ul {
    color: #c2b1b6;
    font-size: 4vh;
}

.resume {
    font-size: 5vh;
    justify-content: center;
}