* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', serif;
}

/* General elements */

img {
    border-radius: 10px;
}


h1 {
    font-size: 15vw;
    letter-spacing: -.06em;
}


h2 {
    float: right;
    font-size: 3vw;
    color: #d4877a;
    text-align: left;
}

a {
    color: #a5b0dd;
    text-decoration: none;
}

a:hover {
    color: #c2b1b6;
    text-decoration: none;
  }
  
p {
    font-size: 3vh;
    color: #c2b1b6;
    margin: 20px;
    align-self: center;
}

.nav-item {
    background-color: black;
    color: #a5b0dd;
    font-size: 5vh;
}

.nav-item:hover {
    color: #c2b1b6;
}

.nav-item:focus {
    color: #d4877a;
}

.col-sm-12 {
    text-align: center;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100vw;
}

/* header div styling */

.header {
    margin: 30px;
    padding: 20px;
    background-color: black;
    color: #c2b1b6;
    clear: both;
    justify-content: space-between;
    text-align: center;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

#subheading {
    margin: -25px;
}

/* Navbar and contact footer styling */

.nav {
    display: flex;
    align-items: center;
    font-size: 32pt;
    margin: 30px;
    justify-content: space-around;
}


/* About Me styling */

#headshot {
    margin: 10px;
    max-height: 500px;
    border-radius: 10px;
    filter: brightness(75%);
}

#headshot-col {
    display: flex;
    justify-content: center;
}

#about {
    display: none;
    margin:40px;
    min-height: 400px;
    align-items: center
}

.skills {
    text-align: center;
    color: #d4877a;
    font-size: 20pt;
}

.skills p{
    color: #d4877a;
    font-size: 20pt;
}

/* Portfolio styling */

#portfolio {  
    margin: 20px;
    padding: 20px;
    background-color: black;
    color: #d4877a;
    align-items: center;
    justify-content: space-between;
    display: none;
}

.card {
    margin-top: 50px;
}

.card-title {
    justify-content: center;
    text-align: center;
    font-size: 4vh;
}

.card-text {
    margin: 5px;
    font-size: 2.5vh;
    text-align: center;
    color: antiquewhite;
}

.card-text a {
    color: #c2b1b6;
}

.card-text a:hover {
    color:#d4877a;
}

.card-body {
    display: flex;
    justify-content: center;
}

/* .card-body img {
    min-height: 200px;
    max-height: 200px;
} */



#portfolio-items {
    display: flex;
    justify-content: center;
}







/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
  }








.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: antiquewhite;
    border-radius: 10px;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .container:hover .overlay {
    opacity: .65;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .contact-icon{
      color: #a5b0dd;
      font-size: 15vh;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
  }
  
  .play-icon {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .repo-icon {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .repo-icon-no-deploy{
    color: black;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .fa-play-circle:hover {
    color: darkslateblue;
  }

  .fa-folder-open:hover {
    color: darkslateblue;
  }

  .nav-tabs {
      border: none;
  }



















